.App {
  text-align: center;
}

.title {
  font-family: "All The Way To The Sun";
  color: #0051A8;
  font-size: 100px;
}

.navbar {
  width: 35%;
  margin: auto;
}

.form {
  width: 50%;
  margin: auto;
}

.half-left {
  width: 47%;
  float: left;
}

.half-right {
  width: 47%;
  float: right;
}

.float-left {
  float: left;
}

.search {
  float: right;
  width: 20%;
}