.App {
  text-align: center;
}

.title {
  font-family: "All The Way To The Sun";
  color: #0051A8;
  font-size: 100px;
}

.navbar {
  width: 35%;
  margin: auto;
}

.form {
  width: 50%;
  margin: auto;
  background-color: #f8f9fa;
}

.list {
  margin: auto;
  padding: 15px;
  background-color: #f8f9fa;
  width: 95%;
  border-radius: 25px;
}

.half-left {
  width: 47%;
  float: left;
}

.half-right {
  width: 47%;
  float: right;
}

.float-left {
  float: left;
}

.search {
  width: 50%;
  margin: auto;
}

.grid-parent {
  display: grid;
  grid-template-columns: 1fr 1fr
}

.agent-icon {
  width: 50%;
}

.card {
  margin: auto;
}